<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Programming assignment 2 - WEPO">
	<meta name="author" content="arnarka13@ru.is, freyr12@ru.is">
	<title>Chatserver</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
	<!-- Deployment, all javascript files in a single file -->
	<!--
	<script type="text/javascript" src="src/js/dest/output.min.js"></script>
	-->

	<!-- For programming -->
	<!-- -->
	<script type="text/javascript" src="src/js/App.js"></script>
	<script type="text/javascript" src="src/js/controllers/RoomsController.js"></script>
	<script type="text/javascript" src="src/js/controllers/RoomController.js"></script>
	<script type="text/javascript" src="src/js/controllers/LoginController.js"></script>
	<script type="text/javascript" src="src/js/controllers/PrivateMessageController.js"></script>
	<script type="text/javascript" src="src/js/socket-factory.js"></script>

	<!-- -->
	
</head>
<body ng-app="ChatClient">

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			  	<a class="navbar-brand" href="#">ChatClient</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#/">Back to login</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="view" ng-view>
			Augnablik ...
		</div>
		<div ng-controller="PrivateMessageController" class="row">
			<div class="col-md-2 pull-right">
				<!-- Large button group -->
				<div class="btn-group dropup">
				<button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" ng-click="getUsers()">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Online Users <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="user in users track by $index"> <a ng-click="startChat(user)">{{user}}</a></li
					</ul>
				</div>
			</div>
			<div class="col-md-3 pull-right" ng-repeat="friend in friends">
				<div class="panel panel-default">
					<div class="panel-heading">
					<h3 class="panel-title">{{friend.name}}</h3>
					</div>
					<div class="panel-body">
						<p ng-repeat="pMessage in friend.msgHistory track by $index">{{pMessage}}</p>
						<form ng-submit="sendPrivateMessage(friend.name, privateMessage)">
							<div class="input-group">
								<input type="text" class="form-control" name="privateMessage" ng-model="privateMessage"/>
								<span class="input-group-btn">
								<button class="btn btn-default" type="submit">Send</button>
								</span>
							</div><!-- /input-group -->
						</form>
					</div><!-- pannel-body -->
				</div><!-- pannel -->
			</div>
		</div><!-- PrivateMessageController -->
	</div>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>