<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>
<h3>Hi {{currentUser}} - Room {{currentRoom}}</h3>
<div class="col-md-9">
	<div class="alert alert-info" ng-cloak ng-show="infoMessage != ''">
		{{infoMessage}}
	</div>
</div>
<div class="col-md-9">
	<h4>Messages: </h4>
	<div class="well well-sm" ng-repeat="message in currentmessages">
		<div class="media">
		 	<div class="media-body pull-left">
				<h4 class="media-heading">{{message.nick}}</h4>
				{{message.message}}
		 	</div>
		 	<div class="media-right text-muted pull-right">
		    	{{message.timestamp | date : 'd/M/yy - HH:mm:ss'}}
		  	</div>
		</div>
	</div>
</div>
<div class="col-md-3">
	<h4>Users in this room</h4>
	<div class="well">	
		<ul>
			<li ng-repeat="(name, op) in currentOps">{{op}}</li>
			<li ng-repeat="(name, user) in currentUsers">{{user}} 
				<button type="button" class="btn" ng-click="kickUser(user)">Kick</button>
				<button type="button" class="btn btn-danger" ng-click="banUser(user)">Ban</button>
			</li>
		</ul>
	</div>
</div>
<form class="col-md-9">
	<div class="form-group">
		<label for="sendMsg" class="control-label">Message: </label>
		<input type="text" class="form-control" name="sendMsg" ng-model="newMessage" autofocus/>
	</div>
	<button type="submit" class="btn btn-primary" ng-click="sendMsg()">Send</button>
</form>

<div class="col-md-12">
	<button type="button" class="btn btn-warning" ng-click="partRoom(currentRoom)">Leave Room</button>
</div>
