<h3>Hi {{currentUser}} - Active chat rooms</h3>
<div class="well">
	<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
		{{errorMessage}}
	</div>
	<ul>
		<li ng-repeat="room in rooms"><a ng-click="joinRoom(room)">{{room}}</a></li>
	</ul>
</div>
<div class="form-group">
	<label for="roomName" class="control-label">New room: </label>
	<input type="text" class="form-control" id="roomName" name="roomName" ng-model="roomName" autofocus/>
</div>
<button type="button" class="btn btn-primary" ng-click="joinRoom()">Create</button>
