<h3>Hi {{currentUser}} - Active chat rooms</h3>
<div class="well">
	<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
		{{errorMessage}}
	</div>
	<ul>
		<li ng-repeat="room in rooms"><a href="#/room/{{currentUser}}/{{room}}">{{room}}</a></li>
	</ul>
	<div class="form-group">
		<label for="roomName" class="control-label">New room: </label>
		<input type="text" class="form-control" id="roomName" name="roomName" ng-model="roomName" autofocus/>
		<button type="button" class="btn btn-primary" ng-click="createNewRoom()">Create</button>
	</div>
</div>